@use './common' as *;

.find {
  .findArea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;

    .findTitle {
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 600;
      font-size: 40px;
    }

    form {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      padding-top: 40px;

      .formInput {
        + .formInput {
          padding-top: 24px;
        }

        .formLabel {
          display: block;

          &.blind {
            @include blind;
          }
        }

        .formControl {
          width: 400px;
          height: 56px;
          padding: 10px 20px;
          font-size: 20px;
          border: 0 none;
          border-bottom: 2px solid rgba(0, 0, 0, 0.5);
          background-color: #f6f7f7;
          outline: none;
          box-sizing: border-box;

          &::placeholder {
            font-weight: 600;
            color: #9b9b9b;
          }

          &:focus {
            border-bottom: 2px solid rgba(60, 14, 246, 0.7);
          }
        }

        ~ .btnArea {
          padding-top: 40px;

          + .formInput {
            padding-top: 30px;
          }
        }
      }
    }

    .btnArea {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      padding-top: 40px;

      ~ .btnArea {
        padding-top: 24px;
      }

      .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 400px;
        height: 50px;
        padding: 0 10px;
        font-size: 20px;
        color: #7454f6;
        border: 1px solid #7454f6;
        border-radius: 20px;
        background-color: #f6f7f7;
        cursor: pointer;

        &:active {
          color: #fff;
          background-color: #7454f6;
        }
      }
    }
  }
}
